# DAY - 1
## BASIC EXPLORATORY DATA ANALYSIS (EDA) ON IRIS DATASET

### Importing essential libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### df.head() : provides first 5 rows of the given dataset by default
### Likewise, df.head(10) will provide first 10 rows of the dataset

In [6]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### df.shape : gives the shape, i.e, the number of rows and columns in the dataset. Here, we have 150 rows and 6 columns

In [8]:
df.shape

(150, 6)

### df.info() : provides the number of null or non-null values and data types of all the columns in the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### df.describe() : provides the statistical summary of the dataset which includes, count, mean, standard deviation, quartile ranges, minimum and maximum values in that column, etc.

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

### df.isnull().sum() :  for checking the number of missing (or null) values in the dataset

In [9]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### df.columns : provides the names of all the columns in the dataset

In [11]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### df[column_name].nnunique() : gives the number of unique values in that column

In [10]:
print("\nUnique values in each column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

Unique values in each column:
Id: 150
SepalLengthCm: 35
SepalWidthCm: 23
PetalLengthCm: 43
PetalWidthCm: 22
Species: 3

### df['column_name'].value_counts() : for analyzing the class distribution in a particular column. i.e., the number of times a certain class is occuring in that column

In [13]:
print("\nClass Distribution:")
print(df['Species'].value_counts())

Class Distribution:
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64